header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  .navbar-items {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-item {
    padding: 10px;
    background-color: #f1f1f1;
  }



  @media (max-width: 768px) {
    .navbar-items {
      flex-direction: column;
    }
  
    .navbar-item {
      padding: 10px 0;
    }
  }
  