.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1e1e21;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  border-bottom: none;
}

.navbar-item-inner {
  cursor: pointer;
  text-decoration: none;
}

.navbar-item-inner.active {
  border: 2px solid #f6c;
  background-color: #f6c;
  color: pink;
}
.perso {
  text-decoration:none;
}


.navbar-icon {
  font-size: 24px;
  margin-bottom: 5px;
}

.navbar-item-inner > span {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .navbar-items {
    flex-direction: column;
  }

  .navbar-item {
    padding: 10px 0;
  }
}
