  header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #1e1e21;;
      }
  .navbar-items {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-item {
    padding: 10px;
  }



  @media (max-width: 768px) {
    .navbar-items {
      flex-direction: column;
    }
  
    .navbar-item {
      padding: 10px 0;
    }
  }
  