.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1e1e21;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
}

.navbar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  border-bottom: none;
}

.navbar-item-inner {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-item-inner.active {
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}

.perso {
  text-decoration: none;
}

.navbar-icon {
  font-size: 24px;
  margin-bottom: 5px;
  color: rgb(105, 136, 141);
}

.navbar-item-inner > span {
  margin-top: 5px;
  color: rgb(105, 136, 141);
}


.navbar-item-inner.active .navbar-icon {
  color: #f6c;
}

.navbar-item-inner.active {
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .navbar-items {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navbar-item {
    padding: 10px 15px;
  }
}

.componentBox {
  margin-top: 5%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding-bottom: 2%;
  padding-top: 2%;
  max-width: 600px;
  width: 100%;
  background: #323236;
  border-color: #404046;
  box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: inline-block;
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.gridContainer .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1e1e21;
}

.selectorContainer {
  margin-bottom: 20px;
}
