
@media (max-width: 768px) {
  .navbar-items {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navbar-item {
    padding: 10px 15px;
  }
}

.componentBox {
  margin-top: 5%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding-bottom: 2%;
  padding-top: 2%;
  max-width: 600px;
  width: 100%;
  background: #323236;
  border-color: #404046;
  box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: inline-block;
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.gridContainer .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1e1e21;
}

.selectorContainer {
  margin-bottom: 20px;
}
